<% if current_user -%>
	<p>Invite a friend using the form below. You have <%= current_user_invites_remaining -%> invitations left to share.</p>
<% else -%>
	<p>
		Interested in trying it out? It's not ready yet, but we'll let you know when it is!
		<span class="sub">Spam sucks, so you'll be hearing from only us and only once we are ready for you to try it out!</span>
	</p>
<% end -%>

<%- onsubmit_h = analytics? ? {:onsubmit => "clicky.goal('584'); clicky.pause();"} : {} -%>
<% form_for @invite, :html => onsubmit_h do |f| %>
	<%= f.text_field :recipient_email %>
	<%= f.submit "Let's Do This!" %>
	
	<%= f.error_messages %>
<% end %>