<% if logged_in? -%>
	<p>Invite a friend using the form below. You have <%= current_users_invites_remaining -%> invitations left to share.</p>
<% else -%>
	<p>
		Interested in trying OrgClut? It's not ready yet, but we'll let you know!
		<span class="sub">Spam sucks, so you'll be hearing from <em>only us</em> and <em>only once</em> we are ready for you.</span>
	</p>
<% end -%>

<%- onsubmit_h = analytics? ? {:onsubmit => "clicky.goal('584'); clicky.pause();"} : {} -%>
<% form_for @invite, :html => onsubmit_h do |f| %>
	<%= f.text_field :recipient_email %>
	<%= f.submit "Let's Do This!" %>
	
	<%= f.error_messages %>
<% end %>