<% pile.children.each do |sub_pile| %>
	<li>
		<div class="pile name">
			<span class="sym"><%# ∴ %>&there4;</span>
			<%= link_to h(sub_pile.name), [sub_pile.owner, sub_pile] %>
		</div>
		
		<%- if expand_to_pile == sub_pile || expand_to_pile.ancestors.include?(sub_pile) -%>
			<ul>
				<%= render :partial => 'list_piles', :locals => { :pile => sub_pile, :expand_to_pile => expand_to_pile } %>
			</ul>
		<%- end -%>
	</li>
<% end %>
