<h1>Listing piles</h1>

<table>
	<tr>
	</tr>
	
	<% @piles.each do |pile| %>
		<tr>
			<td><%= link_to 'Show', user_pile_path(:id => pile, :user_id => pile.owner) %></td>
			<td><%= link_to 'Edit', edit_user_pile_path(:id => pile, :user_id => pile.owner) %></td>
			<td><%= link_to 'Destroy', user_pile_path(:id => pile, :user_id => pile.owner), :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
</table>

<br />

<%= link_to 'New pile', new_user_pile_path(@pile_owner) %>
