<h1><%= link_to h(@user.name), [@user] %>'s Piles</h1>


<div id="scope-list">
	<div class="scope name">
		<span class="sym"><%# ∴ %>&there4;</span>
		<%= link_to h(@user.login), [@user, @root_pile] %>
	</div>
	
	<ul>
		<%= render_subscoped :partial => 'piles/list_scopes', :locals => { :pile => @root_pile, :expand_to => lambda {|p| true } }, :subscope => pile_subscope(@root_pile) %>
	</ul>
</div>
