<h1>Listing piles</h1>


<ul class="pile-list">
	<% @piles.each do |pile| %>
		<li>
			<div class="name">
				<span class="sym">&there4;</span>
				<%= link_to h(pile.name), [@owner, pile] %>
			</div>
			<div class="line">
				<%= link_to 'Edit', [:edit, @owner, pile] %>
				<%= link_to 'Destroy', [@owner, pile], :confirm => 'Are you sure?', :method => :delete %>
			</div>
		</li>
	<% end %>
</ul>

<%= link_to 'New Pile', [:new, @owner, :pile] %>
