<h1>New pile</h1>

<% form_for @pile, :url => [@owner, :piles] do |f| %>
	<%= f.error_messages %>
	
	<%= f.text_field :name %>
	
	<p>
		<%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', [@owner, :piles] %>
