<h1>New pile</h1>

<% form_for @pile, :url => polymorphic_path([@pile_owner, :piles]) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', polymorphic_path([@pile_owner, :piles]) %>
