<div class="edit check prop <%= 'badge' if @node.prop.badged? -%>">
	<%= check_box_tag "check_prop_#{@node.prop.id}", '1', @node.prop.checked? %>
	<%= observe_field "check_prop_#{@node.prop.id}",
		:url => "#{polymorphic_path([@node.pile.owner, @node.pile, @node])}/update_check_prop_checked",
		:before => "preUpdateCheckPropField('check_prop_#{@node.prop.id}');",
		:with => 'checked',
		:method => :put %>
</div>
