<div class="edit text prop <%= 'badge' if @node.prop.badged? -%>">
	<%- @form.fields_for :prop, @node.prop  do |prop_form| -%>
		<%= prop_form.text_field :text, :class => 'field' %>
	<%- end -%>
</div>
