	<div class="new text prop">
		<% remote_form_for :prop, @prop, :url => node_path(@node), :html => { :method => :put, :class => dom_class(@prop, 'edit'), :id => dom_id(@prop, 'edit') } do |f| %>
			<%= f.text_field :text %>
			<%# ✓ %><%= f.submit '&#10003;' %>
			<%# ✖ %><%= f.submit '&#10006;' %>
		<% end %>
	</div>
