<div class="new text prop <%= 'badge' unless @body -%>">
	<%- @form.fields_for :node_prop_attributes, @node.prop do |prop_form| -%>
		<%= prop_form.text_field :text, :class => 'field', :name => 'node[prop_attributes][text]' %>
	<%- end -%>
</div>
