<div id="action-bar" class="action bar initially-hidden">
	
	<div class="widget expanded">
		<a href="#"><span class="sym"><%# ► %>&#9658;</span></a>
	</div>
	
	<div class="buttons">
		<a href="#" class="move reparent"><span class="sym"><%= image_tag 'icon.move-cross.wh-bk-tr.s128.png', :class => 'icon' %></span></a>
		<a href="#" class="move reorder"><span class="sym"><%= image_tag 'icon.move-vert.wh-bk-tr.s128.png', :class => 'icon' %></span></a>
		
		<a href="#" class="edit full-width"><span class="sym"><%# ◆ %>&#9670;</span>&thinsp;edit</a>
		
		<a href="#" class="new item"><span class="sym"><%# ✚ %>&#10010;</span>&thinsp;item</a>
		<a href="#" class="new pile"><span class="sym"><%# ✚ %>&#10010;</span>&thinsp;pile</a>
		
		<a href="#" class="delete full-width"><span class="sym"><%# ✖ %>&#10006;</span>&thinsp;delete</a>
	</div>
	
</div>
