<div id="action-bar" class="action bar initially-hidden">
	
	<div class="widget expanded">
		<a href="#"><span class="sym"><%# ◄ %>&#9668;</span></a>
	</div>
	
	<div class="buttons">
		<a href="#" class="toggle new-bar"><span class="sym"><%# ✚ %>&#10010;</span></a>
		
		<a href="#" class="move out"><span class="sym"><%# ◄ %>&#9668;</span></a>
		<a href="#" class="move up"><span class="sym"><%# ▲ %>&#9650;</span></a>
		<a href="#" class="move down"><span class="sym"><%# ▼ %>&#9660;</span></a>
		<a href="#" class="move in"><span class="sym"><%# ► %>&#9658;</span></a>
		
		<a href="#" class="delete"><span class="sym"><%# ✖ %>&#10006;</span></a>
	</div>
	
</div>
