<div id="add-share-bar" class="add share bar">
	
	<a href="#" class="add public button">
		<span class="sym"><%# ✚ %>&#10010;</span> public share
	</a>
	
	<a href="#" class="add user button">
		<span class="sym"><%# ✚ %>&#10010;</span> user share
	</a>
	
</div>
