<div class="manipulate buttons shadowable">
	<div class="shadow"></div>
	<a href="#" class="sym"><%# ✖ %>&#10006;</a>
	<a href="#" class="sym"><%# ◄ %>&#9668;</a>
	<a href="#" class="sym"><%# ▲ %>&#9650;</a>
	<a href="#" class="sym"><%# ▼ %>&#9660;</a>
	<a href="#" class="sym"><%# ► %>&#9658;</a>
	<a href="#" class="sym"><%# ◉ %>&#9673;</a>
</div>