<% content_tag_for(:li, item, :main, :class => 'main-item') do -%>
	<div class="body">
		<% div_for(item, :'main-content') do -%>
			<%= yield -%>
		<% end -%>
	</div>
	<% unless item.children.empty? -%>
 		<ul class="main-list">
			<% item.children.each do |child| -%>
				<%= render_child.call(child) %>
			<% end -%>
		</ul>
	<% end -%>
	<div class="new buttons shadowable">
		<div class="shadow"></div>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span>text</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>check</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>note</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>priority</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>tag</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>time</a>
	</div>
<% end -%>