<% content_tag_for(:li, item, 'item', :class => 'item') do -%>
	<div class="body">
		<% div_for(item, 'item-content', :class => 'item-content') do -%>
			<%= render :partial => 'nodes/action_buttons', :locals => {:item => item} %>
			<%= yield -%>
		<% end -%>
	</div>
	<ul class="node list">
		<% unless item.children.empty? -%>
			<% item.children.each do |child| -%>
				<%= render_child.call(child) %>
			<% end -%>
		<% end -%>
		<%= render :partial => 'nodes/new_buttons', :locals => {:item => item} %>
	</ul>
<% end -%>