<li class="main-item">
	<div class="body">
		<div class="manipulate buttons shadowable">
			<div class="shadow"></div>
			<a href="#" class="sym"><%# ✖ %>&#10006;</a>
			<a href="#" class="sym"><%# ◄ %>&#9668;</a>
			<a href="#" class="sym"><%# ▲ %>&#9650;</a>
			<a href="#" class="sym"><%# ▼ %>&#9660;</a>
			<a href="#" class="sym"><%# ► %>&#9658;</a>
			<a href="#" class="sym"><%# ◉ %>&#9673;</a>
		</div>
		<%= yield -%>
	</div>
	<% unless item.children.empty? -%>
 		<ul class="main-list">
			<% item.children.each do |child| -%>
				<%= render_child.call(child) %>
			<% end -%>
		</ul>
	<% end -%>
	<div class="new buttons shadowable">
		<div class="shadow"></div>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span>text</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>check</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>note</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>priority</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>tag</a>
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></span>time</a>
	</div>
</li>