<div class="sub-line">
	<a href="#" class="button" onclick="return false;"><span class="sym"><%# ✖ %>&#10006;</span></a>
	<em><%= node.prop.class.short_name %></em>
	<%= render_cell cell_for_node(node), :edit, :node => node, :form => form %>
</div>
