<li id="new-bar" class="new bar initially-hidden">
	
	<div class="widget expanded">
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></a>
	</div>
	
	<div class="buttons">
		<a href="#" class="new text">text</a>
		<a href="#" class="new check">check</a>
		<a href="#" class="new note">note</a>
		<a href="#" class="new priority">priority</a>
		<a href="#" class="new tag">tag</a>
		<a href="#" class="new time">time</a>
	</div>
	
</li>
