<li id="new-bar" class="new bar initially-hidden">
	
	<div class="widget expanded">
		<a href="#"><span class="sym"><%# ✚ %>&#10010;</span></a>
	</div>
	
	<div class="buttons">
		<%- for t in Prop.types -%>
			<%- ability_classes = Prop.abilities.select{|a| t.send("#{a}?") }.collect{|a| a.to_s }.join(' ') -%>
			<a href="#" class="new <%= t.to_s(:short) %> <%= ability_classes %>"><%= t.to_s(:short) %></a>
		<%- end -%>
	</div>
	
</li>
