		<li id="<%= h user.login %>">
			<div class="user_container" style="width: 305px;">
			<h3><%= link_to user.login, user_piles_path(user.login) %></h3>	
			<p>A Description could go here.</p>
			</div>
		</li>
