<div class="new note prop <%= 'badge' if node.prop.badged? -%>">
	<%- form.fields_for :prop do |prop_form| -%>
		<%= prop_form.hidden_field :type, :class => NoteProp.short_name %>
		<%= prop_form.text_area :note, :class => 'field' %>
	<%- end -%>
</div>
