		<ul id="features">
			<li class="feature n1" onclick="void(0);">
				<div class="inner">
					<h3>Hierarchical</h3>
					<p><strong>OrgClut is limitless.</strong><br/>All your notes are part of your own personal <em>“Pile”</em>, a deeply nested list of items and sub-Piles. Easily “scope” into your Piles to see just what's relevant, while keeping an eye on the bigger picture.</p>
				</div>
			</li>
			<li class="feature n2" onclick="void(0);">
				<div class="inner">
					<h3>Powerful</h3>
					<p><strong>OrgClut gives you more.</strong><br/>You're free to attach text, check boxes, priorities, labels, links, dates/times, media, etc. anywhere in your Pile. Then find what you need by sorting and filtering, and share what you want with who you want.</p>
				</div>
			</li>
			<li class="feature n3" onclick="void(0);">
				<div class="inner">
					<h3>Flexible</h3>
					<p><strong>OrgClut is made for you.</strong><br/>“Projects”, “Contexts”,  are not assumed, but you're free to organize it that way if you wish. Therefore, you can use it for GTD, SCRUM, or own methodology. <em>“GTD 2.0”, anyone?</em></p>
				</div>
			</li>
		</ul>
		
		<div class="screenshot">
			<img alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/>
			<div id="fill" class="initially-hidden"></div>
			<%#img class="overlay n1 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/>
			<img class="overlay n2 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/>
			<img class="overlay n3 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/%>
		</div>
		
		<div class="clear"></div>
