<div id="top-bar">	<div class="back"><div class="fill"></div></div>
	
	<div class="logo">
		<div class="graphic">
			<img alt="OrgClut" src="images/logo.orgclut.wh-tr.276x83.png"/>
		</div>
		<h1 class="text">OrgClut</h1>
	</div>		<div class="content">		<h2 class="tagline"><span class="imp">Org</span>anize your <span class="imp">Clut</span>ter.</h2>	</div>
</div>
<div id="page">		<div id="schpiel">		<h3 class="leader"><span class="sym">∴</span>The Easy, Open-Ended Way To Organize All Your Cluttered:</h3>
		<h4><ul>
			<li>thoughts</li>
			<li>ideas</li>
			<li>tasks</li>
			<li>you name it!</li>
		</ul></h4>	</div>
	
	<div id="feature-box">
		
		<ul id="features">
			<li>
				<h3>Hierarchical</h3>
				<p>In OrgClut, all your notes are part of your own personal “Pile”, which is one giant deeply nested list, easily scope-able to get at the information you need.</p>
			</li>
			<li>
				<h3>Flexible</h3>
				<p>OrgClut is more than just text; attach check boxes, priorities, labels, links, dates/times, images, videos, etc. Then sort, filter, and share exactly what you want.</p>
			</li>
			<li>
				<h3>Convenient</h3>
				<p>OrgClut is always ready when you need it… both on desktop and mobile platform. The app features a whopping <em>zero</em> graphics, a testament to its speed.</p>
			</li>
		</ul>
		
		<img class="screenshot" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-06.scaled-75p.1010x801.png" width="1010"/><%# no height so that it will scale uniformly %>
		
	</div>	
</div>