<h2>The Easy, Open-Ended Way To Organize All Your Cluttered:</h2>
<h3><ul>
	<li>Thoughts</li>
	<li>Ideas</li>
	<li>Tasks</li>
	<li>You Name It!</li>
</ul></h3>

<div id="feature-box">
	
	<ul id="features">
		<li>
			<h4>Hierarchical</h4>
			<p>In OrgClut, all your notes are part of your own personal “Pile”, which is one giant deeply nested list, easily scope-able to get at the information you need.</p>
		</li>
		<li>
			<h4>Flexible</h4>
			<p>OrgClut is more than just text; attach check boxes, priorities, labels, links, dates/times, images, videos, etc. Then sort, filter, and share exactly what you want.</p>
		</li>
		<li>
			<h4>Convenient</h4>
			<p>OrgClut is always ready when you need it… both on desktop and mobile platform. The app features a whopping <em>zero</em> graphics, a testament to its speed.</p>
		</li>
	</ul>
	
	<img class="screenshot" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-06.scaled-75p.1010x801.png" width="1010"/><%# no height so that it will scale uniformly %>
	
</div>

