<div id="top-bar">
	<div class="back"><div class="fill"></div></div>
	
	<div class="logo">
		<div class="graphic">
			<img alt="OrgClut" src="images/logo.orgclut.wh-tr.276x83.png"/>
		</div>
		<h1 class="text">OrgClut</h1>
	</div>
	
	<div class="content">
		<h2 class="tagline"><span class="imp">Org</span>anize your <span class="imp">Clut</span>ter.</h2>
	</div>
</div>

<div id="page">
	
	<div id="schpiel">
		<h3 class="leader"><span class="sym">∴</span>The Easy, Open-Ended Way To Organize All Your Cluttered:</h3>
		<h4><ul>
			<li>thoughts</li>
			<li>ideas</li>
			<li>tasks</li>
			<li>you name it!</li>
		</ul></h4>
	</div>
	
	<div id="feature-box">
		
		<ul id="features">
			<li class="feature n1" onclick="void(0);">
				<div class="inner">
					<h3>Hierarchical</h3>
					<p>In OrgClut, all your notes are part of your own personal “<em>Pile</em>”, which is one giant deeply <em>nested list</em>, easily scope-able to get at the <em>information you need</em>.</p>
				</div>
			</li>
			<li class="feature n2" onclick="void(0);">
				<div class="inner">
					<h3>Flexible</h3>
					<p>OrgClut is more than just text; attach <em>check boxes</em>, <em>priorities</em>, <em>labels</em>, <em>links</em>, <em>dates/times</em>, <em>images</em>, <em>videos</em>, etc. Then <em>sort</em>, <em>filter</em>, and <em>share</em> to your liking.</p>
				</div>
			</li>
			<li class="feature n3" onclick="void(0);">
				<div class="inner">
					<h3>Convenient</h3>
					<p>OrgClut is always ready when you need it… both on <em>desktop</em> and <em>mobile</em> platform. The app features a whopping <em>zero</em> graphics, a testament to its speed.</p>
				</div>
			</li>
		</ul>
		
		<div class="screenshot">
			<img alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-06.scaled-75p.1010x801.png"/><%# no height so that it will scale uniformly %>
			<div id="fill" class="initially-hidden"></div>
			<img class="overlay n1 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-06.scaled-75p.1010x801.png"/><%# no height so that it will scale uniformly %>
			<img class="overlay n2 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-06.scaled-75p.1010x801.png"/><%# no height so that it will scale uniformly %>
			<img class="overlay n3 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-06.scaled-75p.1010x801.png"/><%# no height so that it will scale uniformly %>
			<div class="footnote">Note: This screenshot is from mid-way thought development; the public beta will probably look a bit different. No worries, though; we're adding features as we speak!</div>
		</div>
		
	</div>
	
	<div id="invite">
		
	</div>
	
</div>