		<h3 class="leader"><span class="sym">∴</span>The Easy, Open-Ended Way To Organize All Your Cluttered:</h3>
		<h4><ul>
			<li>thoughts</li>
			<li>ideas</li>
			<li>errands</li>
			<li>assignments</li>
			<li>projects</li>
			<li>or whatever else…</li>
		</ul></h4>
