input.magic {
	padding: 0;
	display: inline;
	vertical-align: top;
	padding: 2px 0px;
	-webkit-appearance: none;
	
	margin-right: -26px;
}
input.magic,
input.magic:active,
input.magic:hover,
input.magic:focus {
	border: none;
	background: transparent; color: #000;
	outline: none;
}
