input.magic {
	padding: 0 !important;
	display: inline !important;
	vertical-align: top !important;
	padding: 2px 0px !important;
	-webkit-appearance: none;
	
	margin-right: -26px;
}
input.magic,
input.magic:active,
input.magic:hover,
input.magic:focus {
	border: none !important;
	background: transparent !important; color: #000 !important;
	outline: none !important;
}
