/* standard tags */

html {
	background-color: #fff;
	color: #000;
	height: 100%;
}

body {
	margin: 0; padding: 0;
	height: 100%;
}

body, input, textarea {
	font: 12px/1.5em Helvetica, Arial, sans-serif;
}

#base {
	position: relative;
	height: auto; min-height: 100%;
}

#base > #fill {
	position: absolute;
	width: 100%; height: 100%;
}

#fill {
	position: absolute; z-index: 100;
	background: rgba(255, 255, 255, 0.75);
}


a { color: #000; }
#a:hover { color: #fff; background-color: #000; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0; }
h1 { font-size: 23px; line-height: 29px; }
h2 { font-size: 21px; line-height: 26px; }
h3 { font-size: 19px; line-height: 24px; }
h4 { font-size: 17px; line-height: 21px; }
h5 { font-size: 16px; line-height: 20px; }
h6 { font-size: 15px; line-height: 19px; }


form {
	width: 100%;
}

input[type='text'], input[type='password'], textarea {
	background: #fff;
	border: 2px solid transparent;
	margin: -2px;
	padding: 0;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
}
input[type='text']:focus, input[type='password']:focus, textarea:focus { background: #9cf; border-color: #39f; }
input[type='button'], input[type='submit'] {
	background: #444;
	border: 2px solid #333;
	color: #fff;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
}
input[type='button']:active, input[type='submit']:active { background: #333; border-color: #f20; }


/* general-purpose */

.box {
	background: #ccc;
	border: 1px solid #999;
}

a.sym, a .sym, .sym a {
	display: inline;
	text-align: center;
	vertical-align: baseline;
	text-decoration: none;
	font: 1em Arial;
	width: 1em;
	height: 1em;
}

.initially-hidden { display: none; }


/* flash messages, notices, and warnings */

.flash.message { color: #ddd; }
.flash.notice { color: #ddd; }
.flash.warning { color: #fff; font-style: italic; }
.flash.error { color: #fff; font-weight: bold; }


/* item list (old) */

ul.list ul.list {
	border-left: 1px solid #eee;
	padding-left: 18px;/*
	/*margin-left: -1em;*/
}

li.item_for_node {
}

.item_for_node > .body {
	width: 100%;
	min-height: 1.5em;
}


/* page */
#page {
	padding: 12px;
}


/* top-bar */

#top-bar {
	position: relative; z-index: 200;
	/*margin-bottom: 8px;*/
	height: 24px;
	width: 100%;
	box-shadow:			0 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.5);
}

#top-bar, #top-bar a {
	color: #fff;
}

/* contain-float-after */
#top-bar:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; /* (FF, S2, O9) */ }

#top-bar > .back {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #666;
	margin-bottom: -1px;
	border-bottom: 1px solid #444;
	z-index: -1;
}

#top-bar > .logo {
	font-weight: bold;
	float: left;
	background: #c20;
	margin-bottom: -1px;
	border-bottom: 1px solid #a00;
	border-right: 1px solid #555;
	padding: 4px;
	padding-right: 6px;
	font-size: 16px;
	height: 16px;
	line-height: 20px;
}

#top-bar > .content {
	float: left;
	position: relative;
	z-index: 1;
	padding: 2px;
	height: 20px;
	line-height: 20px;
}

#top-bar > .corner {
	float: right;
	position: relative;
	z-index: 1;
	padding: 2px;
	height: 20px;
	line-height: 20px;
}

/* buttons/bars */
.widget {
	margin-right: 0.5em;
}

.buttons {
	box-shadow:			0 1.333px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.5);
	
	border-radius:			16px;
	-moz-border-radius:		16px;
	-webkit-border-radius:	16px;
}

.widget, .buttons {
	white-space: nowrap;
	height: 1.25em;
	line-height: 1.25em;
}

.widget a, .buttons a { text-decoration: none; }

.stub, .bar {
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	/*width: 16px;*/
	float: left;
}

.bar {
	position: relative;
	z-index: 1;
}

.action.stub .widget,
 #action-bar .widget,
    #new-bar .widget {}
.action.stub .widget, .action.stub .widget a,
 #action-bar .widget,  #action-bar .widget a,
    #new-bar .widget,     #new-bar .widget a { color: #ddd; }
.action.stub .widget a:hover,
 #action-bar .widget a:hover,
    #new-bar .widget a:hover { color: #aaa; }

#action-bar .buttons {
	background: #c20;
	position: absolute;
	top: 0; left: 1.25em;
	padding: 0 0.5em;
	vertical-align: middle;
}
#action-bar .buttons, #action-bar .buttons a { color: #fff; }
#action-bar .buttons a {}
#action-bar .buttons a:hover {
	text-shadow:	0 2px	3px rgba(0, 0, 0, 1),
					0 -2px	3px rgba(0, 0, 0, 1),
					2px 0	3px rgba(0, 0, 0, 1),
					-2px 0	3px rgba(0, 0, 0, 1);
}

#new-bar .buttons {
	background: #666;
	position: absolute;
	top: 0; left: 1.25em;
	padding: 0 0.75em;
	vertical-align: middle;
}
#new-bar .buttons, #new-bar .buttons a { color: #fff; }
#new-bar .buttons a { margin-right: 0.25em; }
#new-bar .buttons a:hover {
	text-shadow:	0 2px	3px rgba(0, 0, 0, 1),
					0 -2px	3px rgba(0, 0, 0, 1),
					2px 0	3px rgba(0, 0, 0, 1),
					-2px 0	3px rgba(0, 0, 0, 1);
}

/*.widget, .widget a { color: #ddd; }
.widget a:hover {  }

.buttons, .buttons a { color: #fff; }
.buttons a:hover { background: #b10; }*/

/*.new.buttons { margin-left: 2em; }*/


/* shadow/shadowed */
body { overflow-x: hidden; }


/* scope sidebar and list */

/* scope sidebar */
#scope-box {
	float: left; clear: left;
	width: 15em;
	margin: 1em;
}
/* root-level scope-list */
#scope-list > ul.scope-list {
	margin-left: 0;
	border: none;
	padding-left: 0.5em; /* 0em - scope-item's indent */
}

/* all nested scope-lists */
ul.scope-list {
	margin-left: -0.5em; /* 0em + scope-item's indent */
	border-left: 1px solid #eee;
	padding-left: 1.5em; /* 1em - scope-item's indent */
}
ul.scope-list > li.scope-item {
	list-style-type: none;
	margin-left: 0;
	text-indent: -0.5em;
}
.scope-list > .scope-item > .body { font-size: 1.0em; font-weight: bold; }
.scope-list > .scope-item > .body * { color: #666; }
.scope-list > .scope-item.current > .body { color: #c20; }


#sidebar-right {
	float: right; clear: right;
	position: relative; z-index: 1;
}


/* pile list */

#pile-box {
	float: left; clear: left;
	width: 15em;
	margin: 1em;
}

#pile-box > .pile { font-weight: bold; color: #666; }
#pile-box > .current.pile { color: #c20; }
#pile-box > .action {}


#view-options-box {
	float: left; clear: left;
	width: 15em;
	margin: 1em;
}


/* user-bar */

#user-bar-greeting, #user-bar-action, #user-bar-greeting form { display: inline; }


/* props */

.prop {
	display: block;
	line-height: 1em;
	margin-left: 1.5em;
	
	border: 2px solid transparent;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
}

.check.prop {
}

.note.prop {
	display: block;
	padding: 2px;
	vertical-align: top;
	
	margin-bottom: 0.5em;
	
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	
	box-shadow:			0 1.333px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.25);
}
.show.note.prop, .edit.note.prop textarea { line-height: 1.25em; }
.edit.note.prop textarea { height: 1em; }

.priority.prop {
	font-weight: bold;
	font-size: 0.9em;
	
	/*vertical-align: middle;*/
	position: relative;
	top: -0.25em;
	display: inline-block;
	
	text-align: center;
	width: 1.1em; height: 1.1em;
	color: #fff;
	background: #000;
	
	border-radius:			1em;
	-moz-border-radius:		1em;
	-webkit-border-radius:	1em;
	
	box-shadow:			0 1.333px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.25);
}

.tag.prop {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
	line-height: 1em;
	
	display: inline-block;
	padding: 2px;
	margin: 1px;
	background-color: #666;
	color: #fff;
	
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	
	box-shadow:			0 1.333px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:	0 1.333px 2px rgba(0, 0, 0, 0.25);
}

.text.prop {
}

.time.prop {
	font-style: oblique;
}

    .edit.text.prop input[type='submit'],
.edit.priority.prop input[type='submit'],
     .edit.tag.prop input[type='submit'],
    .edit.time.prop input[type='submit'] { display: none; }


.edit.prop {
	border-color: #39f; background: #9cf;
	
	box-shadow:			0 2px 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:	0 2px 12px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:	0 2px 12px rgba(0, 0, 0, 0.25);
}

.edit.prop input[type='text'], .edit.prop textarea {
	background: transparent;
	border: none;
	margin: -1px;
	padding: 2px;
	display: block;
	width: 100%;
}
.edit.prop input[type='button'], .edit.prop input[type='submit'] {
	position: absolute;
}
