/* standard tags */

html {
	background-color: #fff;
	color: #000;
}

body {
	font-size: 12px;
	line-height: 1.25;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

a { color: #000; }
#a:hover { color: #fff; background-color: #000; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0; }
h1 { font-size: 2.25em; }
h2 { font-size: 1.625em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.375em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.125em; }


input, textarea {
	border: 1px solid #f20;
	padding: 1px;
	margin: 1px
}
input[type='button'], input[type='submit'] {
	background: #666;
	border: 1px solid #444;
	color: #fff;
}

/*input[type="checkbox"] { margin-top: -1em !important; /* for Firefox *//* }*/


/* general-purpose */

.box {
	background: #ccc;
	border: 1px solid #999;
}

a.sym, a .sym, .sym a {
	display: inline-block;
	text-align: center;
	vertical-align: baseline;
	text-decoration: none;
	font: 1em Arial;
	width: 1em;
	height: 1em;
}

.initially-hidden { display: none; }


/* flash messages, notices, and warnings */

.flash.message { color: #39f; }
.flash.notice { color: #ff3; }
.flash.warning { color: #f66; }


/* item list (old) */

#base-item-text { margin: -4px; border: 2px solid transparent; }
#base-item-text.hover { border-color: #39f; background: #9cf; }

/*ul { margin: 0; padding: 0; padding-left: 2em; }
li { margin: 0; padding: 0; }*/

#main-list > .main-list-wrap > ul.main-list {
	border: none;
	padding-left: 0;
}

ul.list ul.list {
	border-left: 1px solid #eee;
	padding-left: 2em;
	/*margin-left: -1em;*/
}
li.item, li.item-new {
	/*list-style-type: disc;*/
	/*margin-left: 1em;*/
	/*margin-bottom: 1px;*/
	/*clear: left;*/ /* clear was originally needed for keeping floating item content from destroying the view; this shouldn't be possible eventually */
}
li.widget {
	list-style-type: none;
}
li.item > .body {
	margin-bottom: 1px;
	/*font-size: 1.0em; font-weight: normal;
	color: #000;*/
}

/*#main-list li.item.sub.group { margin-left: 0; }
#main-list li.item.sub.group > .body > .content {
	font-size: 1.15em; font-weight: bold;
	color: #111;
}

ul.main-list.group { padding-left: 0; margin-left: 0; }
li.item.group { list-style-type: none; margin-left: 0; }
li.item.group > .body > .content {
	font-size: 1.625em; font-weight: bold;
	color: #666;
	/*margin-top: 0.5em;*//*
}

ul.main-list.group ul.main-list.group { padding-left: 2em; }
li.item.group li.item.group { list-style-type: none; margin-left: 0; }
li.item.group li.item.group > .body > .content {
	font-size: 1.5em; font-weight: bold;
	color: #c20;
}

/*ul.main-list.group ul.main-list.group ul.main-list.group { padding-left: 2em; }
li.item.group li.item.group li.item.group { list-style-type: none; margin-left: 0; }*//*
li.item.group li.item.group li.item.group > .body > .content {
	font-size: 1.375em; font-weight: bold;
	color: #5e5e5e;
	/*margin-top: 0;*//*
}

/*ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group { padding-left: 2em; }
li.item.group li.item.group li.item.group li.item.group { list-style-type: none; margin-left: 0; }*//*
li.item.group li.item.group li.item.group li.item.group > .body > .content {
	font-size: 1.25em; font-weight: bold;
	/*margin-top: 0;*//*
	color: #c20;
}

/*ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group { padding-left: 2em; }
li.item.group li.item.group li.item.group li.item.group li.item.group { list-style-type: none; margin-left: 0; }*//*
li.item.group li.item.group li.item.group li.item.group li.item.group > .body > .content {
	font-size: 1.125em; font-weight: bold;
	color: #555;
	/*margin-top: 0;*//*
}

/*ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group { padding-left: 2em; }
li.item.group li.item.group li.item.group li.item.group li.item.group li.item.group { list-style-type: none; margin-left: 0; }*//*
li.item.group li.item.group li.item.group li.item.group li.item.group li.item.group > .body > .content {
	font-size: 1.0em; font-weight: bold;
	/*margin-top: 0;*//*
	color: #c20;
}

/*ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group ul.main-list.group { padding-left: 2em; }
li.item.group li.item.group li.item.group li.item.group li.item.group li.item.group li.item.group { list-style-type: none; margin-left: 0; }*//*
li.item.group li.item.group li.item.group li.item.group li.item.group li.item.group li.item.group > .body > .content {
	font-size: 1.0em; font-weight: bold;
	/*margin-top: 0;*//*
	color: #4d4d4d;
}

li.item > .body {
	margin-bottom: 0.25em;
	margin: -4px;
	border: 2px solid transparent;
	position: relative; /* for .buttons *//*
}
li.item > .body.hover { border-color: #39f; background: #9cf; }

/*.item .buttons {
	position: absolute;
	width: 14em;
	left: -14em; top: 0;
	background: #eee;
	border: 1px solid #ccc;
	direction: rtl; text-align: right;
}
.item .buttons > img.icon { height: 1.5em; width: 1.5em; line-height: 1em; vertical-align: middle; cursor: pointer; } /* should be at least line-height *//*
.item .buttons > img, .item .buttons > a { white-space: nowrap; }*/


/*.item div.checkbox { display: inline; }
.item div.checkbox > input { display: inline; margin: 1px; }

#main-list li.item.checkbox { margin-left: 0; }
ul.main-list.checkbox { padding-left: 0; margin-left: 0; }
li.item.checkbox { list-style-type: none; margin-left: 0; }
ul.main-list ul.main-list.checkbox { padding-left: 2em; }
li.item li.item.checkbox { list-style-type: none; margin-left: 0; }

.item.checkbox > .body > .content { display: inline; }

.item.disabled > .body > .content, .item.disabled > .body > .checkbox { text-decoration: line-through; opacity: 0.5; }

.item .trimmed {
	opacity: 0.25;
}*/

#item-area {
	margin-left: 17em;
}


/* page */
#page {
	padding: 8px;
}


/* topbar */

#topbar {
	background: #666;
	/*margin-bottom: 8px;*/
	height: 24px;
	border-bottom: 1px solid #444;
	width: 100%;
}

#topbar, #topbar a {
	color: #fff;
}

/* contain-float-after */
#topbar:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; /* (FF, S2, O9) */ }

#topbar > .logo {
	float: left;
	background: #c20;
	/*margin-bottom: -1px;*/
	border-bottom: 1px solid #a00;
	padding: 4px;
	padding-right: 6px;
	font-size: 16px;
	height: 16px;
}

#topbar > .content {
	float: left;
	position: relative;
	z-index: 1;
	padding: 4px;
}

#topbar > .corner {
	float: right;
	position: relative;
	z-index: 1;
	padding: 4px;
}


/* buttons/bars */
.bar { display: inline-block; }

.widget-wrap, .buttons-wrap { display: inline-block; }

.widget, .buttons {
	padding: 0 2px;
	white-space: nowrap;
	height: 1.1em;
}

.manipulate.widget { background: #fff; }
.manipulate.widget, .manipulate.widget a { color: #ddd; }
.manipulate.widget a:hover { color: #aaa; }

.manipulate.buttons { background: #c20; }
.manipulate.buttons, .manipulate.buttons a { color: #fff; }
.manipulate.buttons a:hover { background: #900; }

.new.buttons { background: #666; }
.new.buttons, .new.buttons a { color: #fff; }
.new.buttons a:hover { background: #333; }

.buttons, .widget,
.buttons > .shadow, .widget > .shadow {
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}

.manipulate.widget a:hover, .manipulate.buttons a:hover, .new.buttons a:hover {
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

/*.widget, .widget a { color: #ddd; }
.widget a:hover {  }

.buttons, .buttons a { color: #fff; }
.buttons a:hover { background: #b10; }*/

/*.new.buttons { margin-left: 2em; }*/


/* shadow/shadowable */
body { overflow-x: hidden; }

.shadowable { position: relative; }

.shadow {
	position: absolute;
	z-index: -1;
	/*width: 100%;
	height: 100%;*/
	top: 1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	background: #000;
	opacity: 0.2;
}

.bordered.shadow {
	top: 2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
}


/* scope sidebar and list */

/* scope sidebar */
#scope-box {
	float: left; clear: left;
	width: 15em;
	margin: 1em;
}
/* root-level scope-list */
#scope-list > ul.scope-list {
	margin-left: 0;
	border: none;
	padding-left: 0.5em; /* 0em - scope-item's indent */
}

/* all nested scope-lists */
ul.scope-list {
	margin-left: -0.5em; /* 0em + scope-item's indent */
	border-left: 1px solid #eee;
	padding-left: 1.5em; /* 1em - scope-item's indent */
}
ul.scope-list > li.scope-item {
	list-style-type: none;
	margin-left: 0;
	text-indent: -0.5em;
}
.scope-list > .scope-item > .body { font-size: 1.0em; font-weight: bold; }
.scope-list > .scope-item > .body * { color: #666; }
.scope-list > .scope-item.current > .body { color: #c20; }


#sidebar-right {
	float: right; clear: right;
	position: relative; z-index: 1;
}


/* pile list */

#pile-box {
	float: left; clear: left;
	width: 15em;
	margin: 1em;
}

#pile-box > .pile { font-weight: bold; color: #666; }
#pile-box > .current.pile { color: #c20; }
#pile-box > .action {}


#view-options-box {
	float: left; clear: left;
	width: 15em;
	margin: 1em;
}


/* user-bar */

#user-bar-greeting, #user-bar-action, #user-bar-greeting form { display: inline; }


/* props */

.prop { display: inline-block; }

.check.prop {
}

.note.prop {
	white-space: pre;
	border: 1px solid #ccc;
	padding: 1px;
	background-color: #eee;
	vertical-align: top;
}
.note.prop, .note.prop > .shadow { border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.note.prop > .shadow { opacity: 0.1; }

.priority.prop {
	font-weight: bold;
	font-size: 0.9em;
	
	/*vertical-align: middle;*/
	position: relative;
	top: -0.25em;
	
	text-align: center;
	width: 1.1em; height: 1.1em;
	color: #fff;
	background: #000;
}
.priority.prop, .priority.prop > .shadow { border-radius: 1em; -webkit-border-radius: 1em; -moz-border-radius: 1em; }
.priority.prop > .shadow { opacity: 0.1; }

.tag.prop {
	font-weight: bold;
	font-size: 0.8em;
	line-height: 1em;
	text-transform: uppercase;
	
	margin: 1px;
	background-color: #666;
	color: #fff;
}
.tag.prop, .tag.prop > .shadow { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.tag.prop > .shadow { opacity: 0.1; }
.tag.prop > .content { display: inline-block; padding: 2px; }

.text.prop {
}

.time.prop {
	font-style: oblique;
}
