<% unless @root_node.nil? -%><%# probably nil if the user wasn't authorized (still need to show flash message) %>
	<%#ul class="main-list">
		<%= render_cell cell_for_node(@root_node), :show_item, :node => @root_node % >
	</ul%>
	
	<h3 style="display: inline-block;"><%= @piles_owner.name.present? ? @piles_owner.name : @piles_owner.login %>'s Pile</h3>
	<div style="display: inline-block"><%= render :partial => 'nodes/action_buttons', :locals => {:item => @root_node} -%></div>
	
	<%= render :partial => 'nodes/item_list',
		:locals => {
			:item => @root_node,
			:render_child => proc {|child_node|
				render_cell(cell_for_node(child_node), :show_item, :node => child_node)
			}
		}
	-%>
<% end -%>