<h2><%= h "#{@user.name}" %><%= h " (#{@user.login})" if @user.has_name? %></h2>

<h3>Public Piles</h3>

<% for pile in @public_piles %>
	<%= link_to h("P#{pile.id} - N#{pile.root_node.id}"), user_pile_path(:user_id => pile.owner, :id => pile) %>
<% end %>
