<!-- User.has_name? not implemented
<h2><%= h "#{@user.name}" %><%= h " (#{@user.login})" if @user.has_name? %></h2>  -->

<h3>Public Piles</h3>

<ul class="scope-list">
	<% for pile in @public_piles %>
		<li>
			<div class="scope name">
				<span class="sym">&there4;</span>
				<%= link_to h(pile.name), [pile.owner, pile] %>
			</div>
		</li>
	<% end %>
</ul>


<h3>Piles Shared with You</h3>

<ul class="scope-list">
	<% for pile in @shared_piles %>
		<li>
			<div class="scope name">
				<span class="sym">&there4;</span>
				<%= link_to h(pile.name), [pile.owner, pile] %>
			</div>
		</li>
	<% end %>
</ul>
