<div class="edit note prop <%= 'badge' unless @body -%>">
	<%- fields_for :prop do |prop_form| -%>
		<%= prop_form.text_area :note, :class => 'field' %>
	<%- end -%>
	<%#textarea class="field" id="node_prop_note" name="node[prop][note]"><%=h node_form.object.prop.note % ></textarea%>
</div>
