<div class="edit note prop">
	<%- form_for @node, :url => polymorphic_path([@node.pile.owner, @node.pile, @node]), :html => {:method => 'put'} do |node_form| -%>
		
		<%- node_form.fields_for :prop do |prop_form| -%>
			<%= prop_form.text_area :note, :class => 'field' %>
		<%- end -%>
		<%#textarea class="field" id="node_prop_note" name="node[prop][note]"><%=h node_form.object.prop.note % ></textarea%>
		
		<%# ✓ %><%= node_form.submit '&#10003;' %>
		
	<%- end -%>
</div>
