<div class="new note prop">
	<%- form_for @node, :url => nodes_path(@node, :parent_id => @node.parent_id, :type => @node.prop.type.to_s(:short)), :html => {:method => 'post'} do |node_form| -%>
		
		<%- node_form.fields_for :prop do |prop_form| -%>
			<%= prop_form.text_area :note, :class => 'field' %>
		<%- end -%>
		
		<%# ✓ %><%= node_form.submit '&#10003;' %>
		
	<%- end -%>
</div>
