<% render_node_cell_layout(self) do -%>
	<div class="note prop"><%= in_place_editor_field @prop, :note, {:tag => :div}, {:field_type => 'textarea', :textarea_cols => 100, :textarea_rows => 5} %></div>
<% end -%>
