<div class="show note prop shadowable" oc:editUrl="<%= edit_node_path(@node) %>">
	<div class="bordered shadow"></div>
	<div class="content"><%= h(@node.prop.note).gsub(/\n/, '<br/>') %></div>
</div>
