<div class="show check prop <%= 'badge' if node.prop.badged? -%>">
	<%- if current_subscope == :modifiable -%>
		<%= check_box_tag "check_prop_#{node.prop.id}", '1', node.prop.checked? %>
		<%= observe_field "check_prop_#{node.prop.id}",
			:url => "#{path_for([node.pile.owner, node.pile, node])}/update_check_prop_checked",
			:before => "preUpdateCheckPropField('check_prop_#{node.prop.id}');",
			:with => 'checked',
			:method => :put %>
	<%- else -%>
		<%= check_box_tag "check_prop_#{node.prop.id}", '1', node.prop.checked?, :disabled => true %>
	<%- end -%>
</div>
