<div class="new time prop <%= 'badge' unless @body -%>">
	<%- fields_for :node_prop_attributes, @node.prop  do |prop_form| -%>
		<%= prop_form.text_field :time, :class => 'field', :name => 'node[prop_attributes][time]' %>
	<%- end -%>
</div>
