<!-- Clicky Tracking Code -->
<script type="text/javascript">
var clicky_custom = {
	session: { <%- if current_user: -%>user: '<%=current_user.name%>',<%- end -%> },
};
</script>
<script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">clicky.init(_fill_in_);</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/_fill_in_ns.gif" style="position: absolute; z-index: -1000; width: 0; height: 0;"/></p></noscript>
