<h2>Welcome Back, <%= h current_user.name %></h2>

<h3>Your Piles</h3>

<ul class="pile-list">
	<% @piles.each do |pile| %>
		<li>
			<div class="name">
				<span class="sym">&there4;</span>
				<%= link_to h(pile.name), [pile.owner, pile] %>
			</div>
		</li>
	<% end %>
</ul>

<%= link_to 'Create a New Pile', [:new, current_user, :pile] %>

