<div class="edit priority prop <%= 'badge' unless @body -%>">
	<%- fields_for :node_prop_attributes, @node.prop  do |prop_form| -%>
		<%= prop_form.hidden_field :id, :name => 'node[prop_attributes][id]' %>
		<%= prop_form.text_field :priority, :maxlength => 1, :class => 'field', :name => 'node[prop_attributes][priority]' %>
	<%- end -%>
</div>
