<div class="edit priority prop shadowable" style="background-color: <%=css_color_for_priority(@prop.priority)%>;">
	<div class="shadow"></div>
	<% remote_form_for :prop, @prop, :url => node_path(@node), :html => { :method => :put, :class => dom_class(@prop, 'edit'), :id => dom_id(@prop, 'edit') } do |f| %>
		<%= f.text_field :priority, :onblur => "$(this).next('input[type=submit]').click();" %>
		<%# ✓ %><%= f.submit '&#10003;', :style => 'display: none;' %>
	<% end %>
	<script>$('#<%=dom_id(@prop, 'edit')%>').children('input:first').focus();</script>
</div>
