<div class="edit priority prop shadowable" style="background-color: <%=css_color_for_priority(@node.prop.priority)%>;">
	<div class="shadow"></div>
	<%- form_for :node, @node, :url => node_path(@node), :html => { :method => :put, :class => dom_class(@node, 'edit'), :id => dom_id(@node, 'edit'), :onsubmit => "return editFormSubmit(this, #{@node.id});" } do |node_form| -%>
		
		<%- node_form.fields_for :prop do |prop_form| -%>
			<%= prop_form.text_field :priority, :class => 'field' %>
		<%- end -%>
		
		<%# ✓ %><%= node_form.submit '&#10003;', :onclick => "$(this).closest('form').trigger('onclick');" %>
		
	<%- end -%>
	<script>editFormFocus('#<%=dom_id(@node, 'edit')%>');</script>
</div>
