<div class="new priority prop <%= 'badge' if @node.prop.badged? -%>">
	<%- @form.fields_for :prop, @node.prop  do |prop_form| -%>
		<%= prop_form.text_field :priority, :maxlength => 1, :class => 'field' %>
	<%- end -%>
</div>
