<div class="priority prop shadowable" style="background-color: <%=css_color_for_priority(@prop.priority)%>;" onclick="<%= remote_function(:url => edit_node_path(@node), :method => 'get') %>;">
	<div class="shadow"></div>
	<%= h @prop.priority %>
</div>
