	<% color = case @prop.priority 
		when 1: '#f00'
		when 2: '#c60'
		when 3: '#990'
		when 4: '#0c0'
		when 5: '#099'
		else    '#999'
	end %>
	<div class="priority prop shadowable" style="background-color: <%=color%>;"><div class="shadow"></div><%= h @prop.priority %></div>
