<div class="show priority prop shadowable" oc:editUrl="<%= edit_node_path(@node) %>" style="background-color: <%=css_color_for_priority(@node.prop.priority)%>;">
	<div class="shadow"></div>
	<%= h @node.prop.priority %>
</div>
