<div class="edit tag prop shadowable">
	<div class="shadow"></div>
	<%- form_for @node, :url => {:action => 'update'} do |node_form| -%>
		
		<%- node_form.fields_for :prop do |prop_form| -%>
			<%= prop_form.text_field :tag, :class => 'field' %>
		<%- end -%>
		
		<%# ✓ %><%= node_form.submit '&#10003;' %>
		
	<%- end -%>
	<!-- script>editFormFocus($(this).find('form'));</script -->
</div>
