<div class="edit tag prop <%= 'badge' if @node.prop.badged? -%>">
	<%- @form.fields_for :prop do |prop_form| -%>
		<%= prop_form.text_field :tag, :class => 'field', :autocomplete => 'off' %>
	<%- end -%>
</div>
