<div class="new tag prop <%= 'badge' unless @body -%>">
	<%- @form.fields_for :prop, @node.prop  do |prop_form| -%>
		<%= prop_form.text_field :tag, :class => 'field', :name => 'node[prop_attributes][tag]' %>
	<%- end -%>
</div>
