<%- cache ({:node_item => item.id, :subscope => :observable}.to_json) do -%>
	<% content_tag_for :li, item, :class => "show item #{current_subscope}" do %>
		<div class="cont">
			
			<%= render :partial => 'nodes/show_body', :locals => {:node => item} %>
			
			<ul class="item-list">
				<%= render :partial => 'nodes/list_items', :locals => {:item => item} %>
			</ul>
			
		</div>
	<% end %>
<%- end -%>
