<div class="edit body">
	<%- form_for @node, :url => polymorphic_path([@node.pile.owner, @node.pile, @node]), :html => {:method => 'put'} do |node_form| -%>
		<div class="cont">
			
			<div class="line"><%= render_cell(cell_for_node(@node), :edit, :node => @node, :form => node_form) %></div>
			
			<%- @node.children.each do |badge_node| -%><%# can't use children.badgeable here, since some of them may be unsaved %>
				<%- next unless badge_node.prop.badged? -%>
				<% node_form.fields_for 'children', badge_node do |badge_fields| %>
					<%= render :partial => 'nodes/line_for_form', :locals => {:state => (badge_node.new_record? ? :new : :edit), :node => badge_node, :form => badge_fields} %>
				<%- end -%>
			<%- end -%>
			
			<%= render :partial => 'nodes/add_bar', :locals => {:node => @node} %>
			
			<%# ✓ %><%= node_form.submit '&#10003; done' %>
			
		</div>
	<%- end -%>
</div>
