<div class="new body" onclick="void(0)"><%# onclick, for MobileSafari, with Love -%>
	<%- form_for @node, :url => polymorphic_path([@node.pile.owner, @node.pile, @node], :parent_id => @node.parent_id, :type => @node.prop.class.short_name), :html => {:method => 'post'} do |node_form| -%>
		
		<%= render_cell(cell_for_node(@node), :new, :node => @node, :form => node_form) %>
		
  		<% node_form.fields_for :children do |child_form| %>
			<%- @node.children.badgeable.each do |child_node| -%>
				<%= render :partial => 'nodes/line_for_form', :locals => {:node => badge_node, :form => badge_fields} %>
			<%- end -%>
		<%- end -%>
		
		<%= render :partial => 'nodes/add_bar' %>
		
		<%# ✓ %><%= node_form.submit '&#10003;' %>
		
	<%- end -%>
</div>
