<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
	
	<% if flash[:message]: %><div class="flash message"><%= flash[:message] %></div><% end %>
	<% if flash[:notice]: %><div class="flash notice"><%= flash[:notice] %></div><% end %>
	<% if flash[:warning]: %><div class="flash warning"><%= flash[:warning] %></div><% end %>
	
	<%= yield %>
	
</body>
</html>
